.body {
    margin-left: 50px;
}

.title {
    text-transform: capitalize;
}

.task-list {
    width: 150px;
    margin-bottom: 40px;
    li {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        &:hover span {
            font-weight: bold;
        }
        button {
            cursor: pointer;
        }
    }
}

.task_crossed {
    text-decoration: line-through;
    color: #989898;
}
