.body {
    display: flex;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.timer {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20vh auto
}

.timer::before {
    content: '';
    position: absolute;
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 50%;
    top: -5%;
    left: -21%;
    z-index: -1;
    width: 350px;
    height: 350px;
}

.timer h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 35px;
    color: #5e5e5e;
    margin-bottom: 50px;
}

.timer__time {
    margin-bottom: 40px;
}

.timer__time input {
    padding: 5px 0;
    font-weight: bold;
    font-size: 30px;
    width: 70px;
    text-align: center;
    color: #717171;
}

.timer button {
    padding: 5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    color: #919191;
    background-color: #ffffff;
    width: 50%;
    border-radius: 2px;
    cursor: pointer;
    transition: color 0.3s;
}

.timer__controls {
    display: flex;
    gap: 5px;
}

.start-btn {
    border: 1px solid #4f772d;
}

.start-btn:hover {
    color: #4f772d;
}

.end-btn{
    border: 1px solid #8d0801;
}

.end-btn:hover {
    color: #8d0801;
}