* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #c8c8c8, #e8e8e8);
  color: #211f1f;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  h1, h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: 600;
    color: #211f1f;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
  }
}

.hidden {
  display: none;
}



